body{
  font-family: sistem-ui;
  background:#002B0A
}
#cartoon_name{
  text-decoration
}
h1{
  color: pink;
  border-style:solid;
  border-color:white;
  border-width:2px;
  peadimg:10px;
}
a{
  color:white;
  font-style:20px;
  border-style:solid;
  border-color:aqua;
  border-widht:2px;
  padding:10px;
  border-radius:20px;
}
p{
  color:withe;
  word-spacing:10px;
  font-variant:small-caps;
  font-size:20px;
  font-family:arial;
}
.more_about_cartoon{
  color:pink;
  font-size:18px
}